@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    font-family: 'Balsamiq Sans', cursive;
}
.container{
    text-align: center;
    margin-bottom: 20px;
}
.maincontainer{
    background-image:url("./nbg1.jpeg");
    z-index: -1;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}

.todo{
    border: 2px solid rgb(54, 113, 54);
    border-radius: 20px;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 9px;
    /* background-color: gainsboro; */
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    margin-right: 20px;
    height: 133px;
    width: 258px;
    box-shadow: 4px 4px 5px #aaa;

}

.todocontainer{
    /* border: 2px solid blue; */   
    width: 700px;
    height: auto;
    margin: auto;
    padding-left: 25px;
}
.delbutton{
    margin: auto;
    margin-top: 10px;
    background-color: #d22b2b;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px #aaa;
    border: 0;
    backface-visibility: hidden;
    width: 60px;
    height: 25px;


}
.addbutton{
    border: none;
    background-color: #388bf6;
    color: white;
    width: 536px;
    height: 30px;
    margin-bottom: 10px;
    background-color: "#1877f2";
    font-weight: bolder;

}

.del{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    /* background-color: #e1ebf9; */
    font-family: 'Balsamiq Sans', cursive;
}

.container {
    text-align: center;
}

.c1 {
    text-align: center;
    margin-top: 55px;
    /* font-family: 'Andika', sans-serif; */

}

.c2 {
    
    /* border: 2px solid rgb(246, 230, 230); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}

.phone {
    font-size-adjust: 0.8;
    font-weight: bold;
    padding-left: 10px;
    width: 340px;
    height: 40px;
}

.pass {
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}

.submit {
    margin-top: 20px;
    width: 355px;
    height: 40px;
    border: none;
    font-weight: bolder;
    background-color: #1877f2;
    color: white;
}

.forgot {
    margin-top: 17px;
}

.c2 hr {
    width: 346px;
}

.but {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    background-color: rgb(20, 192, 20);
    font-weight: bold;
    color: white;
    border: none;
}


.name ,.roll,.phone ,.errorf ,.invalid{
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}
.invalid{
    color: red;
}

.welcome{
    margin-top: 25px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sym{
    margin-top: 20px;
}

.m1,.m2,.m3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    width: 240px;
    height: 180px;
    background-color: bisque;
    border-radius: 25px;
}

a:link{
    text-decoration: none;
    color: brown;
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
}

.omc{
    margin-top: 40px;
    margin-bottom: 30px;
}

.box{
    text-align: center;
    /* background-color: aqua; */
}

#qrscanner{
    display: none;
    /* display: ; */
    width: 300px;
    height: 300px;
    border: 2px solid red;
}

#result{
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    margin-top: 20px;
}

.topmargin{
    margin-top: 30px;
}

#scannerbutton{
    margin-top: 20px;
    width: 100px;
    height: 40px;
}